@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#141414] text-white;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
.active {
  transition: all 0.5s;
  font-weight: bold;
  cursor: default;
}
